/* Enter your custom styles here */
/*===========================================App====================================================*/
.master{
	background-color:#808080;
}
.image1{
	background-image:url("../assets/images/cities1.jpg");
	margin:auto;
	width:100%;
	height:100%;
	overflow:hidden;
}
.image2{
	background-image:url("../assets/images/cities2.jpg");
	margin:auto;
	width:100%;
	height:100%;
	overflow:hidden;
}
.image3{
	background-image:url("../assets/images/cities3.jpg");
	margin:auto;
	width:100%;
	height:100%;
	overflow:hidden;
}
.image4{
	background-image:url("../assets/images/cities4.jpg");
	margin:auto;
	width:100%;
	height:100%;
	overflow:hidden;
}
.image5{
	background-image:url("../assets/images/cities5.jpg");
	margin:auto;
	width:100%;
	height:100%;
	overflow:hidden;
}
.linksContainer{
	margin-left:0;
	
}
.link{
	margin-top:20px;
	font-size:24px;
	color:white;
}
.projects{
	margin:auto;
	width:100%;
	height:80%;
	overflow:hidden;
}
.doProj{
	text-align:center;
}
.pro{
	font-size:4.8rem;
	letter-spacing:0.05rem;
}











/*===================================================================================================*/

/*=============================================About=================================================*/
/*===================================================================================================*/

/*=============================================Projects==============================================*/
/*===================================================================================================*/

/*=============================================Services==============================================*/
/*===================================================================================================*/

/*=============================================Clients===============================================*/
/*===================================================================================================*/

/*=============================================Contact===============================================*/
/*===================================================================================================*/